.body{
    background-color: rgb(212, 155, 180);
    text-align: center;
}
h1{
    font-family: 'Silkscreen', cursive;
    font-size: 3rem;
    padding-top: 50px;
    padding-bottom: 100px;
    font-weight: bolder;
}
h4{
    font-family: 'Silkscreen', cursive;
}
.dice {
    display: inline-block;
  
  }
img{
    width: 80%;
}
button{
    background-color: rgb(215, 131, 167) ;
    padding: 10px 30px ;

}
.footer{
    padding-top: 110px;
    font-family: 'Silkscreen', cursive;
}

